/* Empty. Add your own CSS if you like */

.dialer-card {
  width: 100%;
  height: 67%;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -5px 5px 0 #e0e0e0;
  background-color: #ffffff;
}

.pane, .view {
  background-color: #f5f5f5;
}

.col {
  text-align: center;
  height: 55px;
  font-size: xx-large;
  color: #00e5ff;
}

.star, .pound {
  color: #e0e0e0;
}

.star {
  padding-top: 15px;
}

.bar-header {
  background-color: #ff5722;
  box-shadow: 0px 5px 7px #e0e0e0;
}

.list {
  border-bottom: 1px solid #e0e0e0;
}

.placeholder-icon:last-child {
  padding-left: 6px;
  padding-right: 15px;
  font-size: 30px;
}

input {
  text-align: center;
  font-size: 2em !important;
}

input[type="tel"] {
  color: grey;
  font-size: 2em;
}

.bar .title {
  color: white;
}

.call {
  background-color: #18ffff;
  width: 65px;
  height: 65px;
  border-radius: 40px;
  position: fixed;
  left: 41%;
  bottom: 3%;
  box-shadow: -2px 3px 5px 0px #bdbdbd;
}

.phoneIcon {
  font-size: xx-large;
  position: fixed;
  padding-top: 20px;
  padding-left: 22px;
  color: white;
}

.contactsView {
  background-color: #f5f5f5;
}

.avatar{
  width: 50px;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 30px;
  box-shadow: -2px 3px 5px 0px #bdbdbd;
}

.avatarPhoto {
  font-size: 54px !important;
  padding-left: 2.5%;
  color: #9e9e9e;
  position: fixed;
}


.contactName {
  float: inherit;
  padding-left: 150%;
  padding-top: 30px;
}

.names {
  font-weight: bold;
}

.swipeButton {
  background-color: #18ffff;
  width: 65px;
  height: 65px;
  border-radius: 40px;
  position: fixed;
  left: 75%;
  bottom: 3%;
  box-shadow: -2px 3px 5px 0px #bdbdbd;
}

#swipeText {
  padding-top: 18px;
  font-size: xx-large;
  padding-left: 22px;
  color: #ffff00;
}


/*.has-header {
  top: 39px;
}

.show-dial-input {
  font-size: 2em;
  height: 1em;
}

.secretSauce {
  display: none
}

.qcHeader {
  background-color: #2C3E50;
  color: #E74C3C;
}

h1.title{
  background-color: #2C3E50;
  color: #E74C3C;
  border-color: #E74C3C;
  padding:0;
  margin-left:0px;
  margin-right:0px;
}

.bar .title{
  margin-left:0px;
  margin-right:0px;
}

.bar.bar-positive .title {
  color:#E74C3C;
}

.button.button-positive {
  background-color: #2980B9;
  border-color:#2C3E50;
}

ion-content{
  background-color: #ECF0F1;
}

.deleter{
  color: #E74C3C;
  text-decoration: bold;
}

div.pane{
  background-color:#ECF0F1;
}

div#inner-editor{
  background-color:#ECF0F1;
}

/*input{
  text-align: center;
  background-color:#ECF0F1;
}*/

/*.list-inset{
  background-color:#ECF0F1;
}

div.popup-body{
  text-align:center;
}

.headerName {
  text-align: center;
}

.mobileNum {
  text-align: center;
  padding-left: 15px;
}

.mobileNumText {
  text-align: center;
  padding-left: 15px;
}

.bar-subheader {
  background-color:#ECF0F1;
}*/