<ion-view title="Contact">
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="friend in friends" class="item item-avatar">
                <img ng-click='openModal($index)' class="thumbnail" ng-src="img/{{friend.imgPath}}"/>
                <h2>{{friend.name}}</h2>
                <h2 ng-click='makeCall({{friend}})'>{{friend.phoneNumber}}  <span class='ion-ios7-telephone'></span></h2> 
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>