<!--Show deeper friend info -->
<div class="modal">
  <div class="infoBanner">
    <i class="icon ion-ios7-arrow-back" ng-click="closeModal()"></i>
    <div class="infoAvatar">
      <i ng-click='openModal($index)' class="icon ion-ios7-person infoAvatarPhoto"></i>
    </div>
    <div class="infoContactName">
      <span class="names">{{friends[index].name.split(' ')[0]}}</span> {{friends[index].name.split(' ')[1]}}
    </div>
  </div>
  <div class="contactInfoList">
    <div class="contactPhoneInfo">
      <div class="contactInfo" ng-click="makeCall()">
        <div class="contactInfoLabel">phone</div>
        <div class="contactInfoNumber">{{ friends[index].phoneNumbers[0].value }}</div>
      </div>
      <i class="icon ion-ios7-telephone-outline" ng-click="makeCall()"></i>
      <i class="icon ion-ios7-chatbubble-outline" ng-click="sendSms()"></i>
    </div>
  </div>
</div>


