<!--Show deeper friend info -->
<div class="modal">
  <div class="infoBanner">
    <i class="icon ion-ios7-arrow-back" ng-click="closeModal()"></i>
    <div class="infoAvatar">
      <i ng-click='openModal($index)' class="icon ion-ios7-person infoAvatarPhoto"></i>
    </div>
    <div class="infoContactName">
      <span class="names">{{friends[index].firstName}}</span> {{friends[index].lastName}}
    </div>
  </div>
  <div class="contactInfoList">
    <div class="contactPhoneInfo row">
      <i class="icon ion-ios7-telephone-outline col"></i>
      <div class="row contactInfoNumber">{{ friends[index].phoneNumbers[0].value }}</div>
    </div>
  </div>
</div>









  <!-- <ion-content>
    <div class="list card has-header">
      <div class="item item-divider item-icon-left mobileNumText">
        Mobile Number
      </div>
      <a class="item item-icon-left mobileNum" ng-click='makeCall()'>
        {{ friends[index].phoneNumbers[0].value }}
      </a>
    </div>
  </ion-content> -->

  <!-- <ion-header-bar class="contactInfoHeader" hide-nav-bar="true"> -->
    <!-- <h1 class="title">Contact Info</h1> -->
    <!-- div class="bar bar-subheader" ng-click='closeModal()'>
      <h3 class="headerName">{{friends[index].name}}</h3> -->
      <!-- <i class="icon ion-ios7-arrow-back" ng-click='closeModal()'></i> -->
    <!-- </div> -->
  <!-- </ion-header-bar> -->
