<ion-view title="All Contacts">
  <ion-content class="has-header contactsView" overflow-scroll='true' on-drag-left="swipeLeft()">
    <ion-list>
      <ion-item ng-repeat="friend in friends" class="fx-fade-left fx-ease-bounce fx-speed-600" ng-click='openModal($index)'>
        <div class="avatar">
          <i ng-click='openModal($index)' class="icon ion-ios7-person avatarPhoto"></i>
          <div class="contactName">
            <span class="names">{{friend.name.split(' ')[0]}}</span> {{friend.name.split(' ')[1]}}
          </div>
        </div>
      </ion-item>
    </ion-list>
    <!-- <div class="swipeButton">
      <div id="swipeText">
        <i class="icon ion-ios7-telephone"></i>
      </div>
    </div> -->
  </ion-content>
</ion-view>