<ion-view title="QuickCall">
  <ion-content class="has-header" overflow-scroll='true' on-swipe-left="swipeLeft()">
    <div class="list">
      <div ng-repeat="friend in friends" ng-click='openModal($index)'>
        <a class="item item-icon-left item-icon-right">
          <i ng-click='openModal($index)' class="icon ion-ios7-person"></i>
            {{friend.name}}
          <i ng-click='makeCall({{friend}})' class="icon ion-ios7-telephone"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>