 <ion-header-bar class="loginbar bar-positive nav-title-slide-ios7">
    <h1 class="title">Sign Up</h1>
  </ion-header-bar>
  <ion-content class="login">
    <div class="list">
      <form ng-submit="submit()" novalidate class='simple-form loginform' ng-controller='LoginCtrl'>
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-model='userInput.email' required/>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model='userInput.password' required/>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Phone Number</span>
          <input type="text"  placeholder="Phone Number with Country Code" ng-model='userInput.number' required/>
        </label>        
        <label class="item item-input item-floating-label">
          <span class="input-label">Plivo Auth ID</span>
          <input type="text" placeholder="Plivo Auth ID" ng-model='userInput.ID' required/>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Plivo Auth Token</span>
          <input type="text" placeholder="Plivo Auth Token" ng-model='userInput.token' required/>
        </label>
        <button ng-disabled='form.$invalid || !userInput.email || !userInput.password || !userInput.ID || !userInput.number || !userInput.token'
         class="button loginbar button-block button-positive">
          Create Account
        </button>
      </form>
      <div class="card">
       <div class="logininfo item item-divider item-positive">
          Don't have a Plivo Account?
        </div>
        <div class="item item-text-wrap">
            Sign up for an account with <a href="https://manage.plivo.com/accounts/register/" target="_blank">Plivo</a> then copy your auth credentials from the <a href="https://manage.plivo.com/dashboard/" target="_blank">Plivo Dashboard</a> and paste them into the corresponding forms.
        </div>
      </div>
    </div>
  </ion-content>